.nav
{
	background-color: white;
}

.flex-sm-fill
{
	color: silver;
}

.jumbotron

{

	background-image: url("../photo/zuzu.jpg");
	position: relative;
	width:100%;
	height: 100%;
	background-size: cover;
}

p
{
	text-align: justify;
}

.skill
{
	margin-left: 20px;

}

.contact
{
	margin-left: 20px;
}

.Certificate 
{
	margin-left: 20px;
}

.rounded
{
	height: 150px;
	width: 150px;
}

.Hobbies
{
	margin-left: 20px;
}


.card-img-top
{
	height: 180px;
	width: 318px;
}


.card-body
{
	background-color: silver;
}

.btn

{
	border-radius: 50px;
	box-shadow: 5px;
	background-color: blue;
}

.stack

{
	height: 70px;
	width: 70px;
	margin-left: 35px;

}

.linkedin

{
	height: 70px;
	width: 70px;
	margin-left: 15px;

}

.facebook
{
	height: 70px;
	width: 70px;
	margin-left: 35px;
	margin-top: 20px;
}

.twitter
{
	height: 70px;
	width: 70px;
	margin-top: 20px;
	margin-left: 15px;


}

input[type=submit] 

{
	margin-bottom: 10px;
}

/*Intput*/